@inherits LayoutComponentBase
@layout AccountLayout


<section id="account-details">
    <div class="container">
@*         <aside class="account-menu">
            <WebApp.Components.Sections.AccountProfileAvatar />
            <ManageNavMenu />
        </aside> *@
@*         <div class="details-preview">
            @Body
        </div> *@
        @Body
    </div>
</section>