#account-notifications {
    .container {
        display: flex;
        flex-direction: column;

        @include lg {
            flex-direction: row;
        }

        .notifications-preview {
            padding: 50px 20px;
            display: flex;
            flex-direction: column;

            @include lg {
                padding: 50px 0 0 100px;
                border-left: 1px solid var(--color-gray-300);
            }

            h2 {
                @include h3;
                padding-bottom: 20px;

                @include lg {
                    @include h2;
                }
            }

            .notifications-form {
                .notification-email {
                    @include text-m;
                    color: var(--color-gray-900);
                    font-weight: 600;
                }

                #subscribe-switch {
                    display: flex;
                    gap: 20px;

                    .switch {
                        & input {
                            &:checked + .slider {
                                background-color: var(--color-success);
                            }

                            &:focus + .slider {
                                box-shadow: 0 0 1px var(--color-success);
                            }
                        }
                    }

                    .switch-description {
                        display: flex;
                        flex-direction: column;

                        label {
                            @include text-m;
                            color: var(--color-gray-900);
                            font-weight: 600;
                        }

                        span {
                            @include text-s;
                            color: var(--color-gray-600);
                        }
                    }
                }

                .notifications-buttons {
                    margin-top: 250px;
                    display: flex;
                    gap: 15px;
                }
            }
        }
    }
}
