.account-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 0 0 0;
    flex-direction: column;

    @include md {
        flex-direction: row;
    }

    @include lg {
        flex-direction: column;
        padding: 50px 10px 0 10px;
        justify-content: start;
    }

    .profile {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .profile-image {
            img {
                width: 120px;
                height: 120px;
                margin-bottom: 20px;
                border-radius: 100%;
            }

            .btn-refresh {
                @include shadow-s;
                position: absolute;
                top: 80px;
                right: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--color-gray-000);
                border: 1px solid var(--color-gray-300);
                border-radius: 100%;
                width: 40px;
                height: 40px;

                i {
                    color: var(--color-gray-800);
                    font-size: 16px;
                    font-weight: 600;
                }

                &:hover {
                    text-decoration: none;
                    background-color: var(--color-gray-600);

                    i {
                        color: var(--color-gray-000);
                    }
                }
            }
        }
    }

    nav {
        display: flex;
        flex-direction: row;

        @include md {
            flex-direction: column;
        }

        form {
            button.btn-nav {
                display: block;
                width: 100%;
                text-align: left;
                background-color: transparent;
            }
        }
    }
}
